* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



main {
  display: flex;
  justify-content: space-between;
  margin: 10px 25px;
}

.plyr {
  width: 50%;
}




/* 
  Accordion
*/
  .demo{
    width: 20%;
  }
  .squeezhead {
    background: rgb(194 194 194 / 47%);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 6px;
    color: rgb(55 140 177);
    user-select: none;
    cursor: pointer;
  }
  .squeezhead:hover {
    background: #bfbfbf8b;
  }
  .squeezhead p {
    font-weight: bold;
    margin: 5px 15px;
  }
  .squeezhead .icon-arrow-right {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 1.5em;
    display: inline-block;
    top: 13px;
    right: 15px;
    position: absolute;
  }
  .squeezecnt {
    padding: 0;
  }
  .squeezecnt p {
    margin: 0;
  }
  .squeezecnt>p>span{
    padding: 10px 22px;
    display: block;
    margin: 2px 0;
    user-select: none;
    background: aliceblue;
    cursor: pointer;
    font-size: 13px;
  }
  .squeezecnt>p>span:hover{
    background: rgb(231, 238, 245);
  }