<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>
<body>




    
    
  <main>
    <video id="player" playsinline controls></video>

    <section class="demo">
      {{ items | safe }}
      <!-- <header class="squeezhead">
        <p> Title 1 </p>
      </header>
      <div class="squeezecnt" id="squeezecnt">
        <p>
          <span class="aula" id="2078932" >Aula 1</span>
          <span class="aula" id="2084095" >Aula 2</span>
          <span class="aula" id="2084096" >Aula 3</span>
          <span class="aula" id="2084264" >Aula 4</span>
        </p>
      </div> -->
    </section>

  </main>












  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../static/plugins/Squeezebox-accordionJS/squeezebox.min.js"></script>
  <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
  <script src="../static/js/home.js"></script>
</body>
</html>